.cameraContainer {
  width: 100vw;
  height: 100vh;
}

video {
  width: 100%;
  border-radius: 10px;
}

.captureButton {
  bottom: 2vh;
  left: 46vw;
  border-radius: 100%;
  height: 4vw;
  width: 4vw;
  background-color: #040404;
  padding: 2px;
  border: 2px solid white;
  align-self: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .captureButton {
    bottom: 8vh;
  }
}

.innerCapture {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: #fff;
}